*{
  margin: 0;
  padding: 0;
}
header{
  background: bisque;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.CartAndWishlistBlock{
  display: flex;
  justify-content: space-between;
  width: 170px;
}
.product{
  img{
    width: 200px;
    height: 250px;
  }
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}