.reactHomePage{
    display: flex;
    background-color:#201E26;

    flex-direction: column;
}
.reactArticle{
    padding-top:10px ;
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    /*background-color:#322F3C;*/
}
.reactImg{
    /*padding-top: 100px;*/
    text-align: center;
    height: 600px;
    /*background-color:#322F3C;*/
}
.reactImg img{
    height: 600px;
    width: 850px;
}